// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #206590;
$indigo: #867497;
$purple: #422A70;
$pink: #f66d9b;
$red: #e3342f;
$orange: #F16935;
$yellow: #F8B353;
$green: #68BD61;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #f1f1f1f1
