// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    overflow-x: hidden;    
}
h4 {
    color: $purple;
    font-weight: 600;
}
.topnavbar {
    background-color: white;
    height: 80px;
    border-bottom: 1px solid $grey;
    position: fixed;
    top: 0px;    
}
.sitelogo {
    width: 230px
}
.mainArea {
    position: relative;
    top: 80px; 
    left: 18%;
    z-index: -999;
}
.sidemenu {
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: white;
    border-right: 1px solid $grey;
}
.sideMenuItem {
    font-size: 20px;
    a {
        color: black !important;
        font-weight: 900;
    }
}
.sideMenuItem:hover {
    background-color: $purple;
    a {
        color: white !important;
        font-weight: 900;
    }
    a:hover {
        text-decoration: none;
    }
}
.list-group-item{
    border-radius: 0;
}
.searchForm {
    width: 50%;
}
.searchBox {
    width: 100%;
    border-radius: 25px;
    background-color: $grey;
    border-style: hidden;
    height: 40px;    
}
.searchBoxLarge {
    width: 70%;
    border-radius: 30px;
    background-color: $white;
    border-style: hidden;
    height: 60px;
}
.searchIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 39px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    font-size: 26px;
    color: white;
    padding-left: 8px;
}
.initialsIcon {
    height: 50px;
    width: 50px;
    background-color: $purple;
    border-radius: 50%;
    color: white;
}
.resourceImage {
    color: white;
    background-color: $blue;
    height: 50px;
    border-radius: 5%;
    padding-top: 13px;
    max-width: 105px;
}
.resourceImageSelected {
    background-color: $orange;
}
.discussion {
    color: white;
    background-color: $purple;
    height: 50px;
    border-radius: 5%;
    padding-top: 13px;
    max-width: 105px;
}
.ICST {
    color: white;
    background-color: $orange;
    height: 50px;
    border-radius: 5%;
    padding-top: 13px;
    max-width: 105px;
}
.IRCP {
    color: white;
    background-color: $green;
    height: 50px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px; 
}
.dashboardHeaderBackground {
    background-color: white;
    height: 50px;
    padding-top: 10px;
}
.productIconOrange {
    color: white;
    background-color: $orange;
    height: 90px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px;
}
.productIconGreen {
    color: white;
    background-color: $green;
    height: 90px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px; 
}
.productIconPurple {
    color: white;
    background-color: $indigo;
    height: 90px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px; 
}
.productIconBlue {
    color: white;
    background-color: $blue;
    height: 90px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px; 
}
.productIconYellow {
    color: white;
    background-color: $yellow;
    height: 90px;
    border-radius: 5%;
    padding-top: 3px;
    max-width: 105px; 
}
.headerBackgroundOrange {
    background-color: white;
    height: 90px;
    padding-top: 10px;
        h4 {
            color: $orange;
        }
}
.headerBackgroundPurple {
    background-color: white;    
    height: 90px;
    padding-top: 10px;
    h4 {
        color: $indigo;
    }
}
.headerBackgroundGreen {
    background-color: white;    
    height: 90px;
    padding-top: 10px;
     h4 {
        color: $green;
     }
}
.headerBackgroundBlue {
    background-color: white;
    height: 90px;
    padding-top: 10px;
    h4 {        
        color: $blue;
    }
}
.headerBackgroundYellow {
    background-color: white;    
    height: 90px;
    padding-top: 10px;
        h4 {
            color: $yellow;
        }
}
.contactsBackground {
    background-color: $purple;
    height: 80vh;
}
.largeContactCircle {
    height: 200px;
    width: 200px;
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
}
.tabActive {
    background-color: $purple !important;
}
.contactTab {
    background-color: #bbb;
    border-radius: 20px 20px 0px 0px;
    height: 70px;
    color: white;
}